:root {
    --header-height : 7.5rem;
    --footer-height : 7.5rem;

    --color-primary: rgb(0, 98, 190);
}

body {
    font-size: 18px;
}

/* 
###########
L A Y O U T
###########
*/
.outer-wrapper.flex-wrapper {
    flex-wrap: wrap;
    align-content: space-between;

    min-height: 100vh;
}

.inner-wrapper {
    max-width: 1300px;
    margin: auto;

    border: 1px dotted green;    /* debug */
}

.header ,
.main ,
.footer {
    flex: 0 0 100%;

    border: 1px dashed red; /*  Debug   */
}

.header {
    height: var(--header-height);
    line-height: var(--header-height);
}

.footer {   
    height: var(--footer-height);
    line-height: var(--footer-height);
}

/* 
###########
S L I D E R  
I M A G E S
###########
*/

.outer-slider {
    height: calc(100vh - var(--header-height) - var(--footer-height) );
    padding-top:5rem;
}

.inner-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: calc(100% - 10rem); /* room for .circles-container */
}

.images-container {
    flex : 0 0 calc(100% - 10rem);  /* room for side arrows */
    height: 100%;
}

.images-container img {
    max-width: 100%;
    max-height: 100%;
}

/*
###########
S I D E
A R R W O S
###########
*/

.inner-slider .prev-arrow ,
.inner-slider .next-arrow {
    flex: 0 0 5rem;
    font-size: 4rem;
    color: var(--color-primary);
    opacity: 0.5;
}
.inner-slider .prev-arrow:hover ,
.inner-slider .next-arrow:hover {
    opacity: 1;
    cursor: pointer;
}

/* 
#############
C I R C L E S 
#############
*/

.circles-container {
    height: 10rem;
    flex: 0 0 100%;
}

.circles-container ul.inline-list {
white-space: nowrap;
}

.single-circle {
    width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    opacity: 0.5;
    border-radius: 50%;
}
.single-circle:hover ,
.single-circle.active {
    opacity: 1;
    cursor: pointer;
}

.single-circle:not(:last-child) {
    margin-right : var(--standard-spacing);
}


/* 
########
BITS AND
PIECES 
########
*/

h1 {
    line-height: inherit;
}

* {
    border: none !important;
}
